@{
    ViewData["CURRENT_TAB"] = "about";
    ViewData["TITLE_PAGE"] = "About";
}
@section stylesheets{
    <script type="text/javascript">
        var masonryIsEnable = false;
        function updateMasonry() {
            if (window.innerWidth < 768) {
                if (!masonryIsEnable)
                    return;
                $(".masonry-container").masonry("destroy");
                masonryIsEnable = false;
            }
            else {
                if (masonryIsEnable)
                    return;
                $(".masonry-container").masonry({
                    itemSelector: ".col-section",
                    columnWidth: ".grid-sizer",
                });
                masonryIsEnable = true;
            }

        }
        $(updateMasonry);
        $(window).resize(updateMasonry)
    </script>
}

<div class="row">
    <div class="col-md-12 col-section">
        <div id="contentsGuide" class="section">
            <h2 class="title">@ViewData["TITLE_PAGE"]</h2>
            <p class="text">サイトの構成や、制作者について、感想の類が書いてあります。</p>
        </div>
    </div>
</div>
<div class="row masonry-container">
    <div class="col-sm-6 grid-sizer"></div>
    <div class="col-sm-6 col-section">
        <div class="section section-text">
            <h3 class="title">this site...</h3>
            <div class="text">
                <p class="multiLine">このサイトは、namoshikaが大学演習科目で夏季課題で制作したものです。各コンテンツへは右上に生えているメニューより移動できます。</p>
                <dl class="defList">
                    <dt>About:</dt>
                    <dd class="firstChild">現在表示しているページ</dd>
                    <dt>Gallery:</dt>
                    <dd class="firstChild">授業等で作成した成果物や残骸置き場</dd>
                    <dt>Product:</dt>
                    <dd class="firstChild">何か作る際に出来た中間生成物の保管場所</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-section">
        <div class="section section-text">
            <h3 class="title">namoshika's Profile</h3>
            <dl class="text defList">
                <dt>性別:</dt>
                <dd class="firstChild">男</dd>
                <dt>出身地:</dt>
                <dd class="firstChild">神奈川県</dd>
                <dt>趣味:</dt>
                <dd class="firstChild">プログラミングとアニメ鑑賞。プログラミングは.NET畑でアプリを書いてます。最近LinuxとWebアプリが気になるのでWin環境から鞍替えしようか考え中。それからアニメは放送中のを良く見てます。そんな感じですが金を貢ぐほど深入りもしない感じです。</dd>
                <dt>音楽:</dt>
                <dd class="firstChild">CelldwellerのOwn Little WorldやらBirthrightが良い感じ。marbleの芽生えドライブなんかもいいね。</dd>
            </dl>
        </div>
    </div>
    <div class="col-sm-6 col-section">
        <div class="section section-text">
            <h3 class="title">サイト制作について</h3>
            <div class="text">
                <p class="multiLine">制作するにあたって、前年度の学生のサイト等を見ながら何を扱うかを考えたのですが、ネタのリストアップは非リア充にはかなりきつかったです。サイトレイアウトについては、ホームページビルダーで作成したページにありがちなダサいレイアウトになるのも恥ずかしいので、色々なサイトのデザインを参考にしながら最低限ダサくないレイアウトを考えました。</p>
                <p class="multiLine">サーバスペースのディレクトリ構造やHTML/CSS書き込みについては元々この手の事は好きなので、これまで学んだ事を生かしてメンテナンス性を追求した設計にしました。それからページはXHTML1.0で記述しました。最新という響きが好きなのでHTML5で記述したかったですが、5のnavタグ等の新タグは当然無理ですし、XHTML1.1ではmetaタグが書けないので文字化け防止が出来ず、面倒な可能性があったため、このバージョンにしました。</p>
            </div>
        </div>
    </div>
</div>