/*--------------------------
 * Header
 *------------------------*/
#header
{
	background-color: #756606;
}
#header *
{
	vertical-align: middle;
}
#siteHeadline>.title, #siteHeadline>.title *
{
	color: #CEA780;
	font-size: medium;
}
#siteHeadline>.tagline, #siteHeadline>.tagline *,
#gotoLatestVer, #gotoLatestVer *
{
    color: White;
    font-size: smaller;
}
/*--------------------------
 * SubHeader
 *------------------------*/
#subHeader
{
    padding-top: 2px;
}
#subHeader>.title
{
    color: #3D3F38;
}
#menu
{
    background-color: #3D3F38;
}
#menu > li
{
    color: #8B8C7D;
}
#menu>li:Hover, #menu>li.active
{
    background-color: #8B8C7D;
    color: White;
}
/*--------------------------
 * Contents
 *------------------------*/
#content
{
    width: 750px;
    padding: 0px 10px 50px 10px;
    margin: 10px auto 30px auto;
    background-color: #E2D9BC;
}

/*---------------------------------
 * [div] GroupBox
 *--------------------------------*/
.groupBox>.title
{
    font-size: smaller;
    color: #CEA780;
}
/*---------------------------------
 * [ul] List Tile
 *--------------------------------*/
.list_tile
{
    list-style-type: decimal-leading-zero;
}
.list_tile>li
{
    margin: 2px 2px 2px 2em;
    width: 16em;
}
.list_tile>li:Hover
{
    background-color: #C9B983;
}
/*---------------------------------
 * [div] Title&Text Box
 *--------------------------------*/
.productNav *
{
    color: inherit;
    text-decoration: none;
}
.titleTextBox>.title, .titleTextBox>.title *
{
    color: #222222;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}
.titleTextBox>.text, .titleTextBox>.text *
{
    border-left-color: #B4D67B;
    font-size: smaller;
    line-height: 130%;
}
/*---------------------------------
 * [ul] MenuBar
 *--------------------------------*/
.menuBar>li, .menuBar>li *
{
	text-decoration: none;
	color: inherit;
}
.menuBar>li.active
{
    background-color: Gray;
    color: Black;
}
/*---------------------------------
 * [div] Title&Text Box_Horizontal
 *--------------------------------*/
.titleTextBox_horizontal>.title
{
    border-bottom: 1px solid orange;
}