@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebSite.Models.PageInfo[]
@{
    Func<string, string> tabClassMarker = currentTab
        => Model.Length >= 2 && Model[1].Title == currentTab ? "class=active" : "";
}
<li @tabClassMarker("About")><a asp-controller="home" asp-action="About">About</a></li>
<li @tabClassMarker("Gallery")><a asp-controller="gallery" asp-action="Index">Gallery</a></li>
<li @tabClassMarker("Product")><a asp-controller="home" asp-action="Product">Product</a></li>